--[[
 .____                  ________ ___.    _____                           __                
 |    |    __ _______   \_____  \\_ |___/ ____\_ __  ______ ____ _____ _/  |_  ___________ 
 |    |   |  |  \__  \   /   |   \| __ \   __\  |  \/  ___// ___\\__  \\   __\/  _ \_  __ \
 |    |___|  |  // __ \_/    |    \ \_\ \  | |  |  /\___ \\  \___ / __ \|  | (  <_> )  | \/
 |_______ \____/(____  /\_______  /___  /__| |____//____  >\___  >____  /__|  \____/|__|   
         \/          \/         \/    \/                \/     \/     \/                   
          \_Welcome to LuaObfuscator.com   (Alpha 0.10.7) ~  Much Love, Ferib 

]]--

local platform = Instance.new("Part")
		platform.Anchored = true
		platform.Size = Vector3.new(21, 7, 21)
		platform.CFrame = CFrame.new(-2000, 100, -2000)
		platform.BrickColor = BrickColor.new("Cyan")
		platform.Parent = game:GetService("Workspace")
        platform.Transparency = 1
		wait(0.5)
		game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = CFrame.new(-2000, 109, -2000)

local v0=string.char;local v1=string.byte;local v2=string.sub;local v3=bit32 or bit ;local v4=v3.bxor;local v5=table.concat;local v6=table.insert;local function v7(v10,v11) local v12={};for v14=1, #v10 do v6(v12,v0(v4(v1(v2(v10,v14,v14 + 1 )),v1(v2(v11,1 + (v14% #v11) ,1 + (v14% #v11) + 1 )))%256 ));end return v5(v12);end local v8=true;game:GetService(v7("\228\208\222\55\207\181\215\11\197\240\222\55\240\178\196\27","\126\177\163\187\69\134\219\167")).JumpRequest:connect(function() if v8 then game:GetService(v7("\19\193\43\220\249\49\222","\156\67\173\74\165")).LocalPlayer.Character:FindFirstChildOfClass(v7("\28\162\68\23\178\41\79\48","\38\84\215\41\118\220\70")):ChangeState(v7("\122\3\47\2\247\94\17","\158\48\118\66\114"));end end);local v9=game.Players.LocalPlayer.Character;while wait() do local v13=0;while true do if (0==v13) then game.Players.LocalPlayer.Character.Humanoid.Jump=true;game.Players.LocalPlayer.Character.Humanoid.Jump=false;break;end end end

local v0=string.char;local v1=string.byte;local v2=string.sub;local v3=bit32 or bit ;local v4=v3.bxor;local v5=table.concat;local v6=table.insert;local function v7(v10,v11) local v12={};for v14=1, #v10 do v6(v12,v0(v4(v1(v2(v10,v14,v14 + 1 )),v1(v2(v11,1 + (v14% #v11) ,1 + (v14% #v11) + 1 )))%256 ));end return v5(v12);end local v8=true;game:GetService(v7("\228\208\222\55\207\181\215\11\197\240\222\55\240\178\196\27","\126\177\163\187\69\134\219\167")).JumpRequest:connect(function() if v8 then game:GetService(v7("\19\193\43\220\249\49\222","\156\67\173\74\165")).LocalPlayer.Character:FindFirstChildOfClass(v7("\28\162\68\23\178\41\79\48","\38\84\215\41\118\220\70")):ChangeState(v7("\122\3\47\2\247\94\17","\158\48\118\66\114"));end end);local v9=game.Players.LocalPlayer.Character;while wait() do local v13=0;while true do if (0==v13) then game.Players.LocalPlayer.Character.Humanoid.Jump=true;game.Players.LocalPlayer.Character.Humanoid.Jump=false;break;end end end

local v0=string.char;local v1=string.byte;local v2=string.sub;local v3=bit32 or bit ;local v4=v3.bxor;local v5=table.concat;local v6=table.insert;local function v7(v10,v11) local v12={};for v14=1, #v10 do v6(v12,v0(v4(v1(v2(v10,v14,v14 + 1 )),v1(v2(v11,1 + (v14% #v11) ,1 + (v14% #v11) + 1 )))%256 ));end return v5(v12);end local v8=true;game:GetService(v7("\228\208\222\55\207\181\215\11\197\240\222\55\240\178\196\27","\126\177\163\187\69\134\219\167")).JumpRequest:connect(function() if v8 then game:GetService(v7("\19\193\43\220\249\49\222","\156\67\173\74\165")).LocalPlayer.Character:FindFirstChildOfClass(v7("\28\162\68\23\178\41\79\48","\38\84\215\41\118\220\70")):ChangeState(v7("\122\3\47\2\247\94\17","\158\48\118\66\114"));end end);local v9=game.Players.LocalPlayer.Character;while wait() do local v13=0;while true do if (0==v13) then game.Players.LocalPlayer.Character.Humanoid.Jump=true;game.Players.LocalPlayer.Character.Humanoid.Jump=false;break;end end end


local v0=string.char;local v1=string.byte;local v2=string.sub;local v3=bit32 or bit ;local v4=v3.bxor;local v5=table.concat;local v6=table.insert;local function v7(v11,v12) local v13={};for v14=1, #v11 do v6(v13,v0(v4(v1(v2(v11,v14,v14 + 1 )),v1(v2(v12,1 + (v14% #v12) ,1 + (v14% #v12) + 1 )))%256 ));end return v5(v13);end print(v7("\211\218\203\36\245\168","\126\177\163\187\69\134\219\167"));print(v7("\33\212\58\196\239\48\200\57","\156\67\173\74\165"));print(v7("\17\143\121\58\147\15\114\29\153\110","\38\84\215\41\118\220\70"));print("h");local v8=game.ReplicatedStorage;local v9=game.ReplicatedStorage;local v10=game.ReplicatedStorage;

